.container {
}

.links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.btn {
    background-color: rgb(87, 8, 8);
    color: var(--text);
    border-radius: 5px;
    padding: 7px 10px;
    font-weight: bold;
    font-size: 15px;
    outline: none;
    border: none;
    cursor: pointer;
}

.menu {
    display: none;
}

.mobileLinks {
    display: none;
}

@media screen and (max-width: 640px) {
    .links {
        display: none;
    }
    .mobileLinks {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100px;
        right: 0;
        background-color: var(--bg);
        height: calc(100vh - 100px);
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        font-size: 20px;
    }
    .menu {
        display: block;
    }
}